@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap');

.container{
    display: flex;
}


/* Page intro*/
.container-index{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3D7D7;
}



/*
Page about
 */
.container-about {
    height: 100vh;
    width: 100vw;
    background-color: #F3EAD8;
    font-family: 'Linden Hill', serif;
}

.header-nav__list {
    margin: 40px 40px;
    display: flex;
    justify-content: space-between;
}

.header-nav__item {
    font-size: 36px;
    flex-grow: 1;
}

.header-nav__item:nth-child(3n) span:first-child {
    position: relative;
    right: 45px;
}

.header-nav__item span {
    display: flex;
    align-items: center;
    font-size: 48px;
    text-transform: uppercase;
    justify-content: flex-end;
}

span svg {
    position: relative;
    bottom: 6px;
    right: 10px;
}

.header-nav__link {
    text-decoration: none;
    color: black;
}

/*
Main
 */

.main {
    position: relative;
}

.main__picture {
    margin-left: 178px;
    width: 20rem;
}

.main-title {
    font-size: 36px;
    margin-left: 40px;
    position: absolute;
    top: 267px;
}

.main-title span {
    display: flex;
    align-items: center;
    font-size: 48px;
    text-transform: uppercase;
}

.main-title__item {
    text-decoration: none;
    color: black;
}